/**
* ┌───────────────────────────────────────────────────────────────────────────────────┐
* │ $$$$$$\    $$\     $$\                      $$\                     $$\   $$\     │
* │$$  __$$\   $$ |    $$ |                     $$ |                    $$ | $$  |    │
* │$$ /  $$ |$$$$$$\   $$ | $$$$$$\  $$$$$$$\ $$$$$$\    $$$$$$\        $$ |$$  /     │
* │$$$$$$$$ |\_$$  _|  $$ | \____$$\ $$  __$$\\_$$  _|   \____$$\       $$$$$  /      │
* │$$  __$$ |  $$ |    $$ | $$$$$$$ |$$ |  $$ | $$ |     $$$$$$$ |      $$  $$<       │
* │$$ |  $$ |  $$ |$$\ $$ |$$  __$$ |$$ |  $$ | $$ |$$\ $$  __$$ |      $$ |\$$\      │
* │$$ |  $$ |  \$$$$  |$$ |\$$$$$$$ |$$ |  $$ | \$$$$  |\$$$$$$$ |      $$ | \$$\ $$\ │
* │\__|  \__|   \____/ \__| \_______|\__|  \__|  \____/  \_______|      \__|  \__|\__|│
* └───────────────────────────────────────────────────────────────────────────────────┘
*/

body{background-color:#0f0f0f;}a,body{color:#4562e7;}body{font-family:monospace;}body{font-weight:bolder;}div{width:fit-content;}div{text-align:center;}